@use 'sass:map';
@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    @media (max-width: map.get($breakpoints, sm)) {
        font-size: 12px;
    }
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 6px 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
    }

    &.skeleton {
        gap: 6px;
    }
}

.label {
    text-wrap: nowrap;
}

.value {
    text-align: right;
    color: $blue;
}

.emptyRow {
    @include muted-text;
}

.errorRow {
    @include error-text;
}
