$backgroundColor: #f5f2f1;
$cardBg: #fff;
$cardTitleColor: #757575;
$skeletonBg: #e0e0e0;

$blue: #5b84d6;
$muted: #8d8d99;
$red: #ef4444;

$borderColor: #e6e3e2;

$breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px,
);
