@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.table {
    @include table;

    tr {
        & td:not(:nth-child(1)) {
            text-align: center;
        }
    }

    td,
    th {
        &:nth-child(1) {
            width: 40%;
        }

        &:nth-child(2) {
            width: 20%;
        }

        &:nth-child(3) {
            width: 20%;
        }

        &:nth-child(4) {
            width: 20%;
        }
    }
}
