@use '@/styles/abstracts/mixins' as *;

.table {
    @include table;

    .td:nth-child(1) {
        width: 55%;
    }

    td:nth-child(2) {
        width: 30%;
    }

    td:nth-child(3) {
        width: 15%;
    }
}
