@use '@/styles/abstracts/mixins' as *;

.table {
    @include table;

    tr {
        & td:not(:nth-child(1)) {
            text-align: center;
        }
    }

    .td:nth-child(1) {
        width: 45%;
    }

    td:nth-child(2) {
        width: 40%;
    }

    td:nth-child(3) {
        width: 15%;
    }
}
