@use 'sass:map';
@use '@/styles/abstracts/variables' as *;

.skeleton {
    background-color: $skeletonBg;
    border-radius: 4px;
    display: block;
    animation: pulse 1.5s infinite ease-in-out;

    width: 100%;
    height: 18px;

    @media (max-width: map.get($breakpoints, sm)) {
        height: 16px;
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
}
